.text-gradient {
    background: -webkit-linear-gradient(#1a3351 0%, #5f95f0 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-dim-white {
    color: #f1f1f1;
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(700px);
}

.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}
